/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

/****** Header ***********/
.container{
    display: flex;
    gap: 20px;
    background-color: #9c9c9c;
    padding: 30px;
    flex-wrap: wrap;


}


.logo {
    width: 80px;
}

.heder{
    size: 100%;
    flex-grow: 1;
}

.spacer{
    flex-grow: 1;
}

.hederbuttons {
    justify-content: flex-end;
    background-color: #ba4545;

}
.box{
    display: flex;
   
    background-color: rgb(61, 59, 59);
    color: bisque;
    padding: 7px;
    border-radius: 10px;
}



/****** Slogan ***********/


.slogan{
    flex-direction: column;

}




/****** search ***********/

.pin{
    width: 40px;
    height: 40px;
}
.rechercher{
    background-color: #1c5bc1;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    color: aliceblue;
}

/****** filter ***********/



.filtresh3{

    flex-grow: 1;




}

.filtresbtn{
    display: flex;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 30px;

}

/****** slogan 2 ***********/
/****** results ***********/
/****** popular ***********/
/****** activities ***********/
/****** Footer ***********/







/****** Adaptive ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {



/****** Slogan ***********/
/****** search ***********/
/****** filter ***********/
/****** slogan 2 ***********/
/****** results ***********/
/****** popular ***********/
/****** activities ***********/
/****** Footer ***********/



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


/****** Slogan ***********/
/****** search ***********/
/****** filter ***********/
/****** slogan 2 ***********/
/****** results ***********/
/****** popular ***********/
/****** activities ***********/
/****** Footer ***********/

}