/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

.main-container{

    max-width: 1670px;

    margin: auto;
 
}

/****** Header ***********/
.container{
    display: flex;
    gap: 20px;
    background-color: #9c9c9c;
    padding: 30px;
    flex-wrap: wrap;


}


.logo {
    width: 80px;
}

.heder{
    size: 100%;
    flex-grow: 1;
}

.spacer{
    flex-grow: 1;
}

.hederbuttons {
    justify-content: flex-end;
    background-color: #ba4545;

}
.box{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(61, 59, 59);
    color: bisque;
    padding: 7px;
    border-radius: 10px;
}
.neutral-star {
    color:  rgb(61, 59, 59);
}


/****** Slogan ***********/


.slogan{
    flex-direction: column;

}




/****** search ***********/

.pin{
    width: 40px;
    height: 40px;
}
.rechercher{
    background-color: #1c5bc1;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    color: aliceblue;
}

/****** filter ***********/



.filtresh3{

    flex-grow: 1;




}

.filtresbtn{
    display: flex;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 30px;

}

/****** slogan 2 ***********/


.info{
    width: 20px;
    height: 30px;
}
/****** results ***********/

.title{
    flex-direction: column;
}

.boxheb{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(61, 59, 59);
    color: bisque;
    padding: 7px;
    border-radius: 10px;
    gap: 1em;
    max-width: 1050px;
    justify-content: space-between;
}

.imgheb{
    width: 325px;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}




/****** popular ***********/


.imgpop{

    width: 33%;
    height: 136px;
    border-radius: 20px 0px 0px 20px;

    object-fit: cover;

}


.pop{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/****** activities ***********/
/****** Footer ***********/







/****** Adaptive ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1670px) {

.priotity{
    order: -1;
}

/****** Slogan ***********/
/****** search ***********/
/****** filter ***********/
/****** slogan 2 ***********/
/****** results ***********/
/****** popular ***********/
/****** activities ***********/
/****** Footer ***********/



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


/****** Slogan ***********/
/****** search ***********/
/****** filter ***********/
/****** slogan 2 ***********/
/****** results ***********/
/****** popular ***********/
/****** activities ***********/
/****** Footer ***********/

}