/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    color: #242424;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    max-width: 1400px;
    margin: auto;
}
a , a:visited{
    text-decoration: none;
    color: #242424;
}
a:hover   {
    color: #0065fc;
}
.euro{
    font-weight: 800;
}
h1{
    margin: 0px;
    font-size: 1.5em;
}
h2{
    margin: 0px;
    font-size: 1.17em;
}
h3{
    margin: 0px;
    font-size: 1em;    
}
.genralpad{
    padding: 20px;
}
.flex{
    display: flex;
}
.logo {
    width: 80px;
}
.fa-star {
    color: #0065fc;
}
.neutral-star {
    color:  rgb(163, 163, 163);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.title{
    padding: 5px;
}
.grow{
    flex-grow: 1;
}
/****** NavBar ***********/
.navbar{
    width: 100%;
}
.navbar ul{
    list-style-type: none;
    justify-content: flex-end;
}
.navbar a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #242424;
    border-color: #0065fc00;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
}
.navbar a:hover{
    color: #0065fc;
    border-color: #0065fc;
}
/****** Slogan ***********/
.slogan{
    flex-direction: column;
}
/****** search ***********/
.pin{
    width: 30px;
    height: 30px;
    transform: translateX(10px);
}
.pindiv{
    background-color: #DEEBFF;
    border-radius: 20px 0px 0px 20px;
    height: 50px;
    width: 50px;
    align-items: center;
}
.textinput{
    border: none;
    font-weight: 700;
    font-size: large;
    width: 220px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.textinput:focus{
    outline: none;
    background-color: #DEEBFF;
}
.serchalline{
    align-items: center;
}
.rechercher{
    background-color: #0065fc;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: large;
    width: 150px;
    height: 50px;
    transform: translateX(-25px);
    cursor: pointer;
}
.rechercherbtn{
    display: none;
}
.rechercherbtnimg{
    display: none;
}
/****** filter ***********/
.filters {
    align-items: center;
    gap: 15px;
}
.filters-list {
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.part1{
    align-items: center;
    gap: 10px;
}
.filters-types {
    align-items: center;
    border: 3px solid #d9d9d9;
    border-radius: 25px;
    padding-right: 40px;
    padding-left: 10px;
    gap: 10px;
    height: 50px;
}
.btnsize{
    width: 50px;
}
.filters-types:hover{
    background-color: #DEEBFF;
}
/****** slogan 2 ***********/
.slogan2{
    align-items: center;
    gap: 20px;
}
.info{
    width: 64px;
    height: 50px;
    transform: translateY(-12px) translateX(-19px);
}
.infodiv{
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: #d9d9d9;
    width: 32px;
    height: 32px;
}
/****** results and pop ***********/
.hebpop{
    gap: 40px;
}
.boxheb{
    flex-direction: column;
    max-width: 70%;
    gap: 1em;
    background-color: #DEEBFF;
    border-radius: 20px;
}
.cardsheb{
    flex-wrap: wrap;
    gap: 1em;    align-items: center;
}
.boxpop{
    flex-direction: column;
    max-width: 30%;
    gap: 1em;
    background-color: #DEEBFF;
    border-radius: 20px;
}
.cardspop{
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
.a-pop{
    border: solid #ffffff 5px;
    background-color: white;
    border-radius: 23px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.boxhover{
    border: solid #ffffff 5px;
    background-color: white;
    border-radius: 23px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.boxhover:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
.popicon{
    height: 29px;
}
.popiconimg{
    transform: translateY(-4px);
}
.imgheb{
    width: 100%;
    height: 118px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.imgpop{
    border-radius: 20px 0px 0px 20px;
    max-width: 30%;
    object-fit: cover;
}
.textpop{
    flex-direction: column;
    padding: 10px;
}
.textheb{
    padding: 10px;
}
.a-pop:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
.more{
    padding: 10px;
}
/****** activities ***********/
.activites{
    gap: 1em;
    flex-direction: column;
}
.boxactiv{
    align-items: stretch;
    gap: 1em;
    justify-content: space-between;
}
.activ{
    width: 25%;
    border-radius: 23px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.activ:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
.textactiv{
    padding: 20px;
}
.boxhover{
    width: 30%;
}
.imgactiv{
    border-radius: 23px 23px 0px 0px;
    object-fit: cover;
    height: 300px;
    width: 100%;
}
/****** Footer ***********/
.footer{
    gap: 15%;
    background-color: #DEEBFF;
}
/*********** Adaptive ***************** 1400px */
@media (max-width: 1400px) {
    .imgactiv{
        height: 200px;
    }
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
   .hebpop{
    flex-direction: column;
   }
    .boxheb{
        max-width: 100%;    
    }
    .boxpop{
        max-width: 100%;    
        flex-direction: column;
    }
    .cardspop{
        flex-direction: row;
    }
}
/*********** Adaptive ***************** 850px */
@media (max-width: 850px) {
    .imgactiv{
        height: 150px;
    }
    .cardspop{
    flex-direction: column;
    width: 100%;
    }
    .pop{
        max-width: 100%;
        height: 200px;
    }
    .priotity{
        order: -1;
    }
    .footer{
        flex-direction: column;
        gap: 20px;
    }
}
/*** Adaptive *** change navbar, search and filter buttons *** mobile mode *** 750px ***/
@media (max-width: 750px) {
    .filters-list {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }
    .part1 , .a-filters , .boxhover , .cardsheb , .boxactiv , .imgheb , .activ , .imgactiv{
        width: 100%;
    }
    .cardsheb , .boxactiv{
        flex-direction: column;
    }
    .imgheb{
        height: 200px;
    }
    .boxactiv {
        gap: 2em;
    }
    .imgactiv{
        height: 150px;
    }
    .priotity{
        order: -1;
    }
    .textinput{
        transform: translateY(-27px)translateX(0px);
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;  
        }

    .pin{
        transform: translateY(0px) translateX(8px);
    }
    .rechercher{
        display: none;
    }
    .rechercherbtn{
        display: initial;
        background-color: #0065fc00;
        border: none;
        transform: translateX(-27px)translateY(-2px);
    }
    .rechercherbtnimg{
        display: initial;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    .navbar li{
        width: 100%;   
        text-align: center;
    }
    .navbar a{
        border-width: 0px 0px 2px 0px;
        width: 100%;
        flex-grow: 1;
    }
    .logo{
        transform: translateX(-10px);
    }
}
/*********** Adaptive ***** small phone ****** remove all borders ****** 500px */
@media (max-width: 500px) {
    .textinput{
        transform: translateY(-27px)translateX(-20px);
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        width: 230px;
        }
    .part1{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-container{
        padding: 0px;
    }
    .textinput{
        width: 165px;  
        padding-left: 10px;
        padding-right: 10px;
        }
}